body {
	margin-top: 10px;
	margin-bottom: 10px;
}

h1 {
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 800;
	color: #00c853;
	display: flex;
	align-items: center;
}

form {
	border: 1px solid #efefef;
	padding: 1rem;
	width: max-content;
	margin-bottom: 1rem;
}

button {
	display: flex;
	align-items: center;
}

table {
	width: max-content;
	max-width: 100%;
	border: 1px solid #efefef;
}

tr td:first-child {
	max-width: 13rem;
	padding-left: 1rem;
}

tr td:last-child {
	padding-right: 1rem;
}

footer {
	margin-top: 10px;
}