@charset "UTF-8";

.button {
	$_bg-color: #00c853;

	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	background-color: $_bg-color;
	padding: 0.5rem 1rem;
	border: 0;
	line-height: 1;
	border-radius: 20px;

	&:active {
		background-color: #00e676;
	}

	&__prepend {
		margin-right: 0.25rem;
	}
}