// アウトライン重視
main.main(role="main")
	article.article
		header.header
			h1
				img
				span タイトル
			p リード文
		section.card 
			h2 フォーム
			form.form
		section.card 
			h2.card__title 結果
			figure.graph
			dl.stackHorizontal
				dt.stackHorizontal__title
				dd.stackHorizontal__body
		section.card
			h2.card__title 解説
			p 解説本文
			h3 計算方法
			ol.list
				li.list__item
footer
	address 著者情報
nav.floatingActBtn#js-floatingActBtn
	a.floatingActBtn__a(href="#") 上に戻る