@charset "UTF-8";
@use "./../mixin/mixin";

.header {

	&__title {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: center;
		background-color: var(--accent-color);
		padding: 1rem;
	}

	&__prepend {
		width: 100px;
		height: 100px;
	}

	&__body {
		font-family: 'M PLUS 1p', sans-serif;
		font-size: 2.3rem;
		font-weight: 800;
		color: #FFFFFF;
	}

	&__lead {
		@include mixin.layout;
	}
}