@charset "UTF-8";

.inputGroup {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	margin-bottom: 1.5rem;

	&__label {
		flex: 0 1 11rem;
		margin-right: 0.25rem;

		&--muted {
			color: var(--muted-text-color);
		}
	}

	&__required {
		color: var(--error-color);
	}

	&__input {
		// 変数宣言
		$width: 8rem;

		flex: 0 1 $width;
		width: $width;
		border: 0;
		background-color: var(--input-bg-color);
		color: var(--text-color);
		line-height: 1;
		padding-left: 0.5rem;

		&::placeholder {
			line-height: 1.5;
		}
	}

	&__append {
		flex: 0 0 2rem;
		margin-left: 0.25rem;
	}
}