@charset "UTF-8";

.table {
	@mixin border {
		border-bottom: 1px solid var(--devider-color);
	}

	width: 100%;

	&__headerCell {
		@include border;
		font-weight: normal;
		padding: 0.75rem 0.5rem 0.75rem 1rem;
		width: 14rem;
	}

	&__cell {
		@include border;
		padding: 0.75rem 1rem 0.75rem 0;
		text-align: end;
	}
}