@charset "UTF-8";
@use "./variables";

// 変数など共通設定を書く
// CSSネイティブ変数でダークモード対応
:root {
	--bg-color: #eceff1;
	--text-color: #333333;
	--accent-color: #{variables.$accent-color};
	--devider-color: #cfd8dc;
	--input-bg-color: #eceff1;
	--table-stripe-color: #eceff1;
	--link-color: #0d6efd;
	--muted-text-color: #666666;
	--error-color: #ff3d00;
	--card-gb-color:#FFFFFF;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #000a12;
		--text-color: #FFFFFF;
		--accent-color: #33ff66;
		--devider-color: #37474f;
		--input-bg-color: #212121;
		--table-stripe-color: #37474f;
		--link-color: #90caf9;
		--muted-text-color: #bdbdbd;
		--card-gb-color:#263238;
	}
}

// 基本設定
a {
	color: var(--link-color);
}